<section>
  <app-tabs></app-tabs>
</section>

<section>
  <div class="section-top">
    <h2>Browse by body type</h2>
    <a href="#">See all <span class="material-icons">navigate_next</span></a>
  </div>
  <app-body-types></app-body-types>
</section>

<section>
  <div class="section-top">
    <h2>Most popular in Canada</h2>
    <div>
      <span class="material-icons">location_on</span>
      Toronto (+100km)
      <span class="material-icons">expand_more</span>
    </div>
  </div>
  <app-popular></app-popular>
</section>

<section>
  <div class="section-top">
    <h2>Popular makes</h2>
  </div>
  <app-brands></app-brands>
</section>