<footer class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="col-3 col-logo">
                <a class="logo" href="#">auto.market</a>
                <div class="social">
                    <a href="#">i</a>
                    <a href="#">f</a>
                    <a href="#">t</a>
                </div>
            </div>
            <div class="col-6 col-navi">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Sell Car</a></li>
                    <li><a href="">Buy Car</a></li>
                    <li><a href="">Market</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Sell Car</a></li>
                    <li><a href="">Buy Car</a></li>
                    <li><a href="">Market</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Sell Car</a></li>
                    <li><a href="">Buy Car</a></li>
                    <li><a href="">Market</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-3 col-links">
                <a href="#">AppSote</a>
                <a href="#">GooglePlay</a>
                <div class="lang">
                    <div class="lang-select">
                        English
                        <span class="material-icons">expand_more</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">© auto.market / 2019 - 2022. All rights reserved. </div>
    </div>
</footer>